body {
    margin: 0;
    background: black;   /* Schwarzer Hintergrund */
    overflow: hidden;
}

#slideshow {
    width: 100vw;
    height: 100vh;
    object-fit: contain; /* GANZES Bild anzeigen */
}