<!doctype html>
<html>
  <head>
    <title>Foto-Slider</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <img id="blur-img" class="slideshow blur" />
    <img id="main-img" class="slideshow" />

    <script>
      const imgMain = document.getElementById("main-img");
      const imgBlur = document.getElementById("blur-img");
      const interval = {{ interval }};

      function next() {
          const nextImg = new Image();
          // Der Browser folgt dem Redirect im Hintergrund
          nextImg.src = `/random-image?c=${Date.now()}`;

          nextImg.onload = () => {
              imgMain.src = nextImg.src;
              imgBlur.src = nextImg.src;
          };
      }

      // Erster Aufruf und Intervall
      next();
      setInterval(next, interval);
    </script>
  </body>
</html>
